.button {
  margin-right: 5px;
  width: 60px;
  background-color: rgb(164, 160, 160);
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 2px;
}
.button:hover {
  transform: scale(1.1);
}
